<!doctype html>
<html ng-app="learnApp">
<head>
</head>
<body>
<p ng-init=" name='Test' "></p>
<div ng-controller="parentCtrl1">
    <input ng-model="$root.name" placeholder="parentCtrl1">
    <span>{{ $root.name }}</span>
    <div ng-controller="ChildCtrl1">
        <input ng-model="$root.name" placeholder="ChildCtrl1">
        <span>{{ $root.name }}</span>
    </div>
    <div ng-controller="ChildCtrl2">
        <input ng-model="$root.name" placeholder="ChildCtrl2">
        <span>{{ $root.name }}</span>
    </div>
</div>
<div ng-controller="parentCtrl2">
    <input ng-model="$root.name" placeholder="parentCtrl2">
    <span>{{ $root.name }}</span>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<script type="text/javascript" src="js/1.js"></script>
</body>
</html>